
.submit-button {
    background-color:rgb(184, 207, 245);
    border-radius: 0.25em;
    margin-right: 10px;
    margin-left: 10px;
}
.form {
    display: flex;
    flex-direction:row;
}
label {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    width: 10em;
}
input {
    width: 4em;
}

@media only screen and (max-width: 800px) {
    .form {
        flex-direction: column;
    }
    label {
        display: inline-block;
    }
    .submit-button {
        width: 12em;
        margin-top: 1em;    
    }
    #main-heading {
        text-align: left;
    }
}

